.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-layout {
  border: gray solid 5px;
  border-radius: 5px;
  vertical-align: top;
  min-width: 800px;
}

.input-button {
  font-size: large;
  height: 25px;
  min-width: 350px;
  border-radius: 2px;
  border: 0px;
  background-color: rgb(222, 219, 219);
}

.textarea {
  font-size: large;
  height: 65px;
  min-width: 350px;
  border-radius: 2px;
  border: 0px;
  background-color: rgb(222, 219, 219);
}

.button {
  border-radius: 7px;
  height: 25px;
  width: 80px;
  background-color: rgb(222, 219, 219);
  border: 0px;
  cursor: pointer;
}

.search-button {
  border-radius: 7px;
  height: 25px;
  width: 80px;
  background-color: rgb(187, 182, 182);
  border: 0px;
  cursor: pointer;
}

.search-input {
  border-radius: 7px;
  height: 23px;
  width: 180px;
  background-color: rgb(222, 219, 219);
  border: 0px;
}
